.contact-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
    width: 100%;
    padding-top: 20px;
    background-size: cover;
    background-position: center;
}
.contact-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: rgb(255, 245, 191);
    border-width: 2px;
    border-radius: 20px;
    background-color:  rgb(255, 245, 191);
    padding: 20px 30px;
    margin: 0px 20px;
}
.contact-title {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.contact-detail {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 35px;
}
.contact-map {
    height: 400px;
    width: 500px;
}

@media only screen and (max-width: 850px) {
   .contact-title {
    font-size: 20px;
   }
   .contact-detail {
    font-size: 14px;
   }
   .contact-map {
       height: 250px;
       width: 100%;
   }
}