.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky; 
    top: 0;
    padding-top: 37px;
    padding-bottom: 37px;
    background-color: rgb(255, 217, 0);
}
.header-logo {
    cursor: pointer;
    padding-left: 40px;
    font-family: 'Pacifico', Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.header-logo-capitalize {
    font-size: 50px;
}
.header-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 40px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.header-link {
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    text-align: center;
    width: 100px;
    color: black;
}
.header-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}
.footer-container {
    position: sticky;
    bottom: 0px;
}
.nameplate {
    display: flex;
    background-color: white;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgb(224, 224, 252);
    /* border-style: solid; */
    /* border-color: black; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.copyright {
    display: inline-block;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.github-logo {
    display: inline-block;
    margin-left: 10px;
    height: 25px;
}

@media only screen and (max-width: 850px) {
    .header-container {
        flex-direction: column;
        padding-top: 22px;
        padding-bottom: 22px;
    }
    .header-logo {
        padding-left: 0px;
        font-size: 20px;
    }
    .header-logo-capitalize {
        font-size: 30px;
    }
    .header-links {
        padding-top: 20px;
        padding-right: 0px;
    }
    .header-link {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 15px;
    }
    .copyright {
        font-size: 12px;
    }
    .github-logo {
        height: 15px;
    }
}