.body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.home-background-image {
    display: flex;
    flex: 1;
    width: 100%;
    background-size: cover;
    background-position: center;
}